* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width:100%;
  /* height: 100px; */
}

.navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 64px;
  /* margin: 30px; */
}
.search {
  height: 45px;
  width: 39%;
  display: flex;
  flex-grow: 0;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 10px;
  right: 40px;
  border-radius: 4px;
  background-color: white;
  border: 1.2px solid grey;
}
.fas {
  color: rgb(200, 195, 195);
  font-size: 22px;
  position: relative;
  left: 8px;
}
.searchbar {
  height: 45px;
  width: 100%;
  /* border-left: none; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 15px;
  padding: 10px;
}
 .zil{
  display: none;
 }  
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  right: 30px;
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 120px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  right: 80px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
.sect ul {
  height: 60px;
  /* width: 100%; */
  border-top: 1.5px solid rgb(185, 185, 185);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: center;
}
.sect a:hover{
    color: #9f2089;
    border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
li a {
  text-decoration: none;
  color: rgb(53, 53, 67);
}
ul li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.hero{
  height: 65vh;
  /* width: 100%; */
    background: url(images/1746425994914.webp);
    background-position: 40% 80% ;
  background-repeat: no-repeat;
}
.hero h4{
  color: white ;
  font-size: 44px;
  font-weight: 700;
  text-align: right;
  line-height: 65px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: 150px;
  top: 20vh;
}
.hero button{
  height: 66px;
  width: 178px;
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #9f2089;
  line-height: 42px;
  border-radius: 8px;
   position: relative;
  left: 65vw;
  top: 25vh;
  border: none;
}
.refun{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
nav a{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */

}




/* Small Mobile */
@media (max-width: 480px) {
  body{
    background-color: blueviolet;
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: non;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 10px;
  /* margin: 30px; */
}
.search{
  display:none;
 } 
 .zil{
  height: 30px;
  display: inline;
  margin-left: 30px;
}
.p , .p2{
  display: none;
}

.line1 , .line2{
  display: none;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  right: 10px;
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 10px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  right: 0px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}


/* Medium Mobile */
@media (min-width: 481px) and (max-width: 576px) {
  body{
    background-color: chocolate;
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: non;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 10px;
  /* margin: 30px; */
}
.search{
  display:none;
 } 
 .zil{
  height: 30px;
  display: inline;
  margin-left: 50px;
}
.p , .p2{
  display: none;
}

.line1 , .line2{
  display: none;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  right: 30px;
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 60px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  right: 30px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}

/* Large Mobile */
@media (min-width: 577px) and (max-width: 767px) {
  body{
    background-color: burlywood;
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 9px;
  /* margin: 30px; */
}
.search {
  height: 45px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  right: 180px;
  border-radius: 4px;
  background-color: white;
  border: 1.2px solid grey;
}
.fas {
  color: rgb(200, 195, 195);
  font-size: 22px;
  position: relative;
  left: 8px;
}
.searchbar {
  height: 45px;
  /* width: 100%; */
  /* border-left: none; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  /* right: 150px; */
  padding: 10px;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* top: 10px; */
  right: 30px;
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 10px;
   top: -40px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  top: -40px;
  right: 10px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  body{
    background-color: brown;
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 10px;
  /* margin: 30px; */
}
.search {
  height: 45px;
  width: 48%;
  display: flex;
  flex-grow: 0;
  flex-shrink:0 ;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 10px;
  left: px;
  border-radius: 4px;
  background-color: white;
  border: 1.2px solid grey;
}
.fas {
  color: rgb(200, 195, 195);
  font-size: 22px;
  position: relative;
  left: 8px;
}
.searchbar {
  height: 45px;
  width: 100%;
  /* border-left: none; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 15px;
  padding: 10px;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
  display: none;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  display: none;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  left: 40px;
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 100px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  /* right: 80px; */
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}

/* Small Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
   body{
    background-color: rgb(0, 238, 255);
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 20px;
  /* margin: 30px; */
}
.search {
  height: 45px;
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 10px;
  right: 0px;
  border-radius: 4px;
  background-color: white;
  border: 1.2px solid grey;
}
.fas {
  color: rgb(200, 195, 195);
  font-size: 22px;
  position: relative;
  left: 8px;
}
.searchbar {
  height: 45px;
  width: 100%;
  /* border-left: none; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 15px;
  padding: 10px;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left:50px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  /* padding-right: 20px; */
  position: relative;
  /* right: 20px; */
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  /* right: 30px; */
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 50px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  right: 30px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}

/* Medium Laptop */
@media (min-width: 1281px) and (max-width: 1440px) {
   body{
    background-color: blue;
  }
  .navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px; */
}
.navpara {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: relative;
  top: 10px;
  left: 50px;
  /* margin: 30px; */
}
.search {
  height: 45px;
  width: 39%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 10px;
  right: 20px;
  border-radius: 4px;
  background-color: white;
  border: 1.2px solid grey;
}
.fas {
  color: rgb(200, 195, 195);
  font-size: 22px;
  position: relative;
  left: 8px;
}
.searchbar {
  height: 45px;
  width: 100%;
  /* border-left: none; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 15px;
  padding: 10px;
}
.navpara {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  color: rgb(116, 116, 116);

  position: relative;
  top: 10px;
  right: 50px;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 20px;
  border-right: 3px solid grey;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  /* right: 30px; */
}
.cart1 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart2 p:hover {
  color: #9f2089;
  font-weight: bold;
  border-bottom: 3px solid #9f2089;
  padding-bottom: 5px;
}
.cart1 {
  position: relative;
  right: 100px;
}
.cp1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 10px;
}
.cart2 {
  position: relative;
  right: 60px;
}
.cp2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: rgb(83, 81, 81);
  position: relative;
  right: 6px;
}
}

/* Desktop */
@media (min-width: 1441px) and (max-width: 1920px) {
 
}
/* Ultra Wide */
@media (min-width: 1921px) {}


